@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

.miss-table {
  font-family: 'Merriweather', serif;
  width: 95%;
  margin: 2rem auto;
}

table,
td,
tr {
  border: 1px solid rgba(0, 0, 0, 0.3);
}

tr:nth-child(even) {
  background: rgb(219, 216, 216);
}

.col-head {
  font-size: 30px;
  text-align: center;
  padding: 1.5rem;
  font-weight: 700;
}

.first-col {
  padding: 1rem;
  text-align: left;
  font-size: 24px;
}

.second-col {
  padding: 2rem 1rem;
  font-size: 20px;
  text-align: left;
  line-height: 2;
}

.third-col {
  text-align: center;
  font-size: 26px;
}

.available {
  background-color: rgb(13, 218, 13);
  border-radius: 10px;
  padding: 0.5rem;
  transform: rotate(20deg);
  color: white;
}

.Joined {
  background-color: gray;
  border-radius: 10px;
  padding: 0.5rem 1.4rem;
  color: white;
}

.fourth-col {
  text-align: center;
  padding: 1rem;
}

button {
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 20px;
}

.Join {
  padding: 0.5rem 1.6rem;
}

.Leave {
  padding: 0.5rem 1rem;
  color: rgb(255, 0, 106);
  border: 1px solid rgb(255, 0, 106);
}
