html {
  overflow-y: scroll;
}

.Profile-main {
  display: flex;
  width: 90%;
  margin: 1rem auto;
  justify-content: space-around;

  /* border: 1px solid black; */
}

.My-Missions,
.My-Rockets {
  /* border: 1px solid black; */
  padding: 0 4rem 4rem;
}

.My-Missions h2,
.My-Rockets h2 {
  margin: 1rem;
  font-size: 40px;
  font-weight: 600;
}

.ul-contain-miss {
  padding: 0 0.5rem;
  list-style-type: none;
  border: 1px solid black;
}

.ul-contain-miss li {
  margin: 1rem 0;
  padding: 1rem 1.5rem;
  border-bottom: 1px solid black;
  font-size: 20px;
}

.ul-contain-miss li:last-child {
  border: none;
}
