.Rockets {
  margin: 50px auto;
  padding: 1rem 3rem;
}

ul {
  padding: 0;
}

.rocket-item {
  display: flex;
  list-style: none;
  margin-top: 2rem;
}

.rocket-item img {
  width: 15rem;
  height: 15rem;
}

.rocket-description {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-bottom: 1px solid rgba(0, 0, 0, 0.308);
}

.rocket-description h2 {
  font-size: 40px;
}

.rocket-description p {
  line-height: 2;
  font-size: 20px;
}

.available-button {
  color: white;
  background-color: blue;
  padding: 10px;
  border-radius: 10px;
  border: none;
}

.rocket-description > * {
  margin-bottom: 10px;
}

.success-rocket {
  border-radius: 5px;
  padding: 5px;
}

.reserved-button {
  color: red;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #000;
}
