.miss-table {
  font-family: sans-serif;
  width: 95%;
  margin: 2rem auto;
}

table, td, tr {
border: 1px solid black;  
}

.col-head {  
  font-size: 30px;
  text-align: center;
  padding: 1.5rem;
}


.first-col {
  padding: 1rem;
  text-align: left;
  font-size: 24px;
}

.second-col {
  padding: 0.5rem 1rem;
  font-size: 20px;
  text-align: left;
}

.third-col {
  text-align: center;
  font-size: 26px;
}

.available {
  background-color: rgb(13, 218, 13);
  border-radius: 10px;
  padding: 0.5rem;
  transform: rotate(20deg);
}

.Joined {
  background-color: gray;
  border-radius: 10px;
  padding: 0.5rem 1.4rem;
  color: white;
}

.fourth-col {
  text-align: center;
  padding: 1rem;
}

button {
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 20px;
}

.Join {
  padding: 0.5rem 1.6rem;
  
}

.Leave {
  padding: 0.5rem 1rem;
  color: rgb(255, 0, 106);
  border: 1px solid rgb(255, 0, 106);
}

